body {
    background-color: #EAEDF0;
    font-family: 'Open Sans', sans-serif;
}

.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

form {
    background-color: #FDFDFD;
    margin: 20px;
    padding: 20px;
}